{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{ titulo }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_view('OFICINAS') %}
            {{ topbar.button('Oficinas', url_for('oficinas.list_active'), 'mdi mdi-store') }}
        {% endif %}
        {% if current_user.can_admin('DOMICILIOS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('domicilios.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('domicilios.list_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('DOMICILIOS') %}
            {{ topbar.button_new('Nuevo Domicilio', url_for('domicilios.new')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <!-- Filtros Domicilios -->
        <div class="row">
            <div class="col">
                <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosDomicilios.buscar(); return false;">
                    <div class="col-2">
                        <div class="form-floating">
                            <input id="filtroClave" type="text" class="form-control" aria-label="Clave" style="text-transform: uppercase;">
                            <label for="filtroClave">Clave</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-floating">
                            <input id="filtroEdificio" type="text" class="form-control" aria-label="Edificio" style="text-transform: uppercase;">
                            <label for="filtroEdificio">Edificio</label>
                        </div>
                    </div>
                    <div class="col-6 text-end">
                        <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosDomicilios.buscar(); return false;" id="button-buscar"><span class="mdi mdi-magnify"></span></button>
                        <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosDomicilios.limpiar();" id="button-limpiar"><span class="mdi mdi-broom"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- DataTable Domicilios -->
        <table id="domicilios_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Clave</th>
                    <th>Edificio</th>
                    <th>Estado</th>
                    <th>Municipio</th>
                    <th>Calle</th>
                    <th>No. Ext.</th>
                    <th>No. Int.</th>
                    <th>Colonia</th>
                    <th>C.P.</th>
                    <th>Activo</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <!-- Datatables -->
    <script src="{{ url_for('static', filename='js/datatables-constructor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datatables-filtros.js') }}"></script>
    <script>
        // DataTable Domicilios
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDTDomicilios = constructorDataTable.config();
        configDTDomicilios['ajax']['url'] = '{{ url_for("domicilios.datatable_json") }}';
        configDTDomicilios['ajax']['data'] = {{ filtros }};
        configDTDomicilios['columns'] = [
            { data: "detalle" },
            { data: "edificio" },
            { data: "estado" },
            { data: "municipio" },
            { data: "calle" },
            { data: "num_ext" },
            { data: "num_int" },
            { data: "colonia" },
            { data: "cp" },
            { data: "toggle_es_activo" }
        ];
        configDTDomicilios['columnDefs'] = [
            {
                targets: 0, //detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.clave + '</a>';
                }
            },
            {
                targets: [2, 3], // estado, municipio
                data: null,
                render: function(data, type, row, meta) {
                    return data.length > 8 ? data.substring(0, 8) + '…' : data;
                }
            },
            {
                targets: [4, 7], // calle, colonia
                data: null,
                render: function(data, type, row, meta) {
                    return data.length > 16 ? data.substring(0, 16) + '…' : data;
                }
            },
            {
                targets: 9, // toggle_es_activo
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url === '') {
                        if (data.es_activo === true) {
                            return '<span class="badge bg-primary">Activo</span>';
                        } else {
                            return '<span class="badge bg-secondary">Inactivo</span>';
                        }
                    }
                    let myId = 'domicilios_es_activo_' + data.id;
                    let myRow = 'domicilios_row_' + data.id;
                    let myOnClick = "toggleEsActivo('#" + myId + "', '" + data.url + "', '#" + myRow + "')";
                    if (data.es_activo === true) {
                        return '<button id="' + myId + '" type="button" class="btn btn-sm btn-outline-primary" onclick="' + myOnClick + '"><span class="mdi mdi-toggle-switch"></span></button>';
                    } else {
                        return '<button id="' + myId + '" type="button" class="btn btn-sm btn-light" onclick="' + myOnClick + '"><span class="mdi mdi-toggle-switch-off"></span></button>';
                    }
                }
            }
        ];
        // Cambiar las filas según toggle_es_activo
        configDTDomicilios['createdRow'] = function(row, data, dataIndex) {
            if (data.hasOwnProperty('toggle_es_activo')) {
                // Cambiar el color de la fila si es_activo es false
                if (!data.toggle_es_activo.es_activo) $(row).addClass('table-secondary');
                // Asignar un id a la fila
                $(row).attr('id', 'domicilios_row_' + data.toggle_es_activo.id);
            }
        };
        // Filtros Domicilios
        const filtrosDomicilios = new FiltrosDataTable('#domicilios_datatable', configDTDomicilios);
        filtrosDomicilios.agregarInput('filtroClave', 'clave');
        filtrosDomicilios.agregarInput('filtroEdificio', 'edificio');
        filtrosDomicilios.precargar();
    </script>
    <!-- Datatables botones toggle_es_activo -->
    <script src="{{ url_for('static', filename='js/datatables-toggles.js') }}"></script>
    <script>
        // Preparar headers para POST
        const myHeaders = new Headers();
        myHeaders.append("X-CSRF-TOKEN", "{{ csrf_token() }}");
        const myInit = {
            method: "POST",
            headers: myHeaders,
            mode: "cors",
            cache: "default",
        };
    </script>
{% endblock %}
