{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{ titulo }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if current_user.can_view('PAG PAGOS') %}
            {{ topbar.button('Pagos', url_for('pag_pagos.list_active'), 'mdi mdi-account-cash') }}
        {% endif %}
        {% if current_user.can_admin('PAG TRAMITES SERVICIOS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('pag_tramites_servicios.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('pag_tramites_servicios.list_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('PAG TRAMITES SERVICIOS') %}
            {{ topbar.button_new('Nueva Trámite o Servicio', url_for('pag_tramites_servicios.new')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <!-- Filtros PagTramitesServicios -->
        <div class="row">
            <div class="col">
                <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosPagTramitesServicios.buscar(); return false;">
                    <div class="col-2">
                        <div class="form-floating">
                            <input id="filtroClave" type="text" class="form-control" aria-label="Clave" style="text-transform: uppercase;">
                            <label for="filtroClave">Clave</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-floating">
                            <input id="filtroDescripcion" type="text" class="form-control" aria-label="Descripción" style="text-transform: uppercase;">
                            <label for="filtroDescripcion">Descripción</label>
                        </div>
                    </div>
                    <div class="col-6 text-end">
                        <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosPagTramitesServicios.buscar(); return false;" id="button-buscar"><span class="mdi mdi-magnify"></span></button>
                        <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosPagTramitesServicios.limpiar();" id="button-limpiar"><span class="mdi mdi-broom"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- DataTable PagTramitesServicios -->
        <table id="pag_tramites_servicios_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Clave</th>
                    <th>Descripción</th>
                    <th>Costo</th>
                    <th>Activo</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <!-- Datatables -->
    <script src="{{ url_for('static', filename='js/datatables-constructor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datatables-filtros.js') }}"></script>
    <script>
        // DataTable PagTramitesServicios
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDTPagTramitesServicios = constructorDataTable.config();
        configDTPagTramitesServicios['ajax']['url'] = '{{ url_for("pag_tramites_servicios.datatable_json") }}';
        configDTPagTramitesServicios['ajax']['data'] = {{ filtros }};
        configDTPagTramitesServicios['columns'] = [
            { data: 'detalle' },
            { data: 'descripcion' },
            { data: 'costo', className: 'text-end' },
            { data: "toggle_es_activo" }
        ];
        configDTPagTramitesServicios['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.clave + '</a>';
                }
            },
            {
                targets: 2, // costo
                data: null,
                render: function(data, type, row, meta) {
                    return '$ ' + data;
                }
            },
            {
                targets: 3, // toggle_es_activo
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url === '') {
                        if (data.es_activo === true) {
                            return '<span class="badge bg-primary">Activo</span>';
                        } else {
                            return '<span class="badge bg-secondary">Inactivo</span>';
                        }
                    }
                    let myId = 'pag_tramites_servicios_es_activo_' + data.id;
                    let myRow = 'pag_tramites_servicios_row_' + data.id;
                    let myOnClick = "toggleEsActivo('#" + myId + "', '" + data.url + "', '#" + myRow + "')";
                    if (data.es_activo === true) {
                        return '<button id="' + myId + '" type="button" class="btn btn-sm btn-outline-primary" onclick="' + myOnClick + '"><span class="mdi mdi-toggle-switch"></span></button>';
                    } else {
                        return '<button id="' + myId + '" type="button" class="btn btn-sm btn-light" onclick="' + myOnClick + '"><span class="mdi mdi-toggle-switch-off"></span></button>';
                    }
                }
            }
        ];
        // Cambiar las filas según toggle_es_activo
        configDTPagTramitesServicios['createdRow'] = function(row, data, dataIndex) {
            if (data.hasOwnProperty('toggle_es_activo')) {
                // Cambiar el color de la fila si es_activo es false
                if (!data.toggle_es_activo.es_activo) $(row).addClass('table-secondary');
                // Asignar un id a la fila
                $(row).attr('id', 'pag_tramites_servicios_row_' + data.toggle_es_activo.id);
            }
        };
        // Filtros PagTramitesServicios
        const filtrosPagTramitesServicios = new FiltrosDataTable('#pag_tramites_servicios_datatable', configDTPagTramitesServicios);
        filtrosPagTramitesServicios.agregarInput('filtroClave', 'clave');
        filtrosPagTramitesServicios.agregarInput('filtroDescripcion', 'descripcion');
        filtrosPagTramitesServicios.precargar();
    </script>
    <!-- Datatables botones toggle_es_activo -->
    <script src="{{ url_for('static', filename='js/datatables-toggles.js') }}"></script>
    <script>
        // Preparar headers para POST
        const myHeaders = new Headers();
        myHeaders.append("X-CSRF-TOKEN", "{{ csrf_token() }}");
        const myInit = {
            method: "POST",
            headers: myHeaders,
            mode: "cors",
            cache: "default",
        };
    </script>
{% endblock %}
